body {
    text-align: center;
    background: grey;
}

.menu {
    list-style: none;
    font-family: 'Cinzel Decorative', cursive;
    position: fixed;
    top: 0px;
    cursor: pointer;
    z-index: 10;
    background: black;
    width: 100%;
    margin-top: 2px;
    text-align: center !important;
}

.links {
    display: inline;
    color: cornsilk;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.links:hover {
    background-color: darkcyan;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 25px;
}
